.sidebar {
    width: 200px; /* Ajusta el ancho según sea necesario */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    background-color: #093b6e; /* Color de fondo */
    padding: 20px;
    top:95px;
    position: fixed; /* Fija la barra lateral */
    border: #000000;
    border: 5px solid rgb(0, 0, 0);
  }
  
  .sidebar h2 {
    margin-bottom: 15px;
    font-size: 35px;
    
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px;
    cursor: pointer;
  }
  
  .sidebar li:hover {
    background-color: #e9ecef; /* Color al pasar el mouse */
  }
  
  .sidebar li {
    font-size: 30px;
    font-weight: bold;
    
  }
  