<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Aplicacion</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <h2>Inicio</h2>
    <ul>
        <li><a href={% url 'home' %}>Inicio</a></li>
        <li><a href={% url 'products' %}>Productos</a></li>
        {% if request.user.is_authenticated %}
        <li><a href={% url 'exit' %}>Salir</a></li>
        {% else %}
        <li><a href={% url 'login' %}>Ingresar</a></li>
        {%  endif %}
    </ul>

    {% block content %}{% endblock %}
</body>

</html>